/** @format */

.Container {
  display: flex;
  margin-top: 1%;
  margin-bottom: 1%;
}

.flex {
  display: flex;
}
.text {
  margin-left: 4px;
}
.margin {
  display: flex;
  margin-left: 10px;
}
.flex:hover,
.margin:hover {
  color: lightsalmon;
  cursor: pointer;
}
