/** @format */
.background {
  background-color: #0d8abc;
  display: flex;
  flex: 1;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.Container {
  display: flex;
  margin: auto;
  width: 80%;
  border-radius: 25px;
  background: white;
  font-family: "Montserrat", sans-serif;
}

.SVGContainer {
  margin-left: 0%;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background: #f9d9eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 2%;
}

.heading {
  font-size: 28px;
  text-align: start;
  letter-spacing: 1.5px;
}
.label {
  margin-top: 2%;
}
.select {
  margin-left: 2%;
  border: 1px solid #636e72;
  padding: 5px 10px;
}
.select:focus {
  outline: none;
}
.terms {
  font-size: 14px;
  margin-right: 3%;
}
.flex {
  margin-top: 3%;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.flexColumn{
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 50%;
}
.margin {
  margin-left: 4%;
}
.input {
  width: 95%;
  margin-top: 2%;
  font-family: "Open Sans", sans-serif;
  height: 5vh;
  border-radius: 5px;
  border: 1px solid #636e72;
  font-size: 17px;
}
.input:focus,
.textarea:focus {
  outline: none;
  border: 2px solid #0984e3;
}
.textarea {
  width: 98%;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  height: 22vh;
  font-size: 18px;
  resize: none;
  margin-top: 1%;
  margin-bottom: 1%;
}
.checkbox {
  margin-left: 0%;
  padding-left: 0%;
  height: 3vh;
  width: 3vw;
}

.btnContainer {
  display: flex;
  margin: 2%;
  justify-content: center;
}
.btn {
  font-size: 17px;
  background-color: #1dd1a1;
  color: white;
  border: 2px solid #1dd1a1;
  border: none;
  border-radius: 5px;
  padding: 8px 28px;
}
.btn:focus,
.btn:hover {
  cursor: pointer;
  outline: none;
}
