.container {
  display: flex;
  width: 19%;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.5rem;
  height: auto;
  margin: 0.5%;
}
.imageContainer{
  height: 200px;
  width: 100%;
  background-color: red;
  overflow: hidden;
}
.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.name {
  margin-top: 4%;
  font-size: 1.5rem;
}
.btn {
  background-color: white;
  border: none;
  color: black;
  padding: 1% 2%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid grey;
  outline: none;
  font-size: 1.3rem;
  width: 100%;
  margin-top: 4%;
  border-radius: 0.5rem;
  cursor: pointer;
}
