/** @format */

.Container {
  background-color: white;
  display: flex;
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
  top: 0;
  justify-content: space-between;
  align-items: center;
  animation: moveDown 0.5s ease-in-out;
  /* position: fixed; */
  z-index: 100;
}
.logo {
  display: flex;
}

.img {
  height: 80px;
  width: 80px;
  background-image: url('/public/logo.png');
  border-radius: 50%;
  background-color: #fff !important;
}

.btnArea {
  display: flex;
  align-items: center;
}
.btn {
  background: transparent;
  padding: 5px 30px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
}
.btn:hover {
  cursor: pointer;
  border: 1px solid #653ab9;
  background-color: #653ab9;
  color: white;
}

.Links {
  display: flex;
  margin: 0;
  width: 100%;
  list-style: none;
}
.link {
  font-size: 1.3rem;
  margin-right: 18%;
  font-family: "Open Sans", sans-serif;
}
.link1 {
  color: white;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.link:hover {
  cursor: pointer;
  color: #653ab9;
}

.current {
  border-bottom: 2px solid tomato;
}
.hamburger {
  display: none;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@media only screen and (max-width: 1200px) {
  .Links {
    display: none;
  }
  .logo {
    display: flex;
    align-items: center;
  }
  .hamburger {
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .lines {
    background: black;
    width: 35px;
    margin-top: 6px;
    height: 5px;
  }
}
