/** @format */

.flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.1rem;
}

.SideBar {
  overflow: auto;
  position: sticky;
  width: 100vw;
  height: 100%;
  top: 0;
}
.children {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.1rem;
}
