/** @format */

.Container {
  position: absolute;
  z-index: 110;
  left: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 33%;
}

.box {
  animation: moveDown 0.8s ease-in-out;
  z-index: 111;
  display: block;
  margin: 0 auto;
  padding: 2% 8%;
  background-color: #222f3e;
}
.cross {
  display: flex;
  justify-content: flex-end;
}
.Cross:hover {
  cursor: pointer;
}
.link {
  color: #ee5253;
  font-weight: bold;
}

.heading {
  color: white;
  text-align: center;
  font-size: 25px;
  letter-spacing: 1.5px;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
}

.text {
  padding-top: 1%;
  color: white;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.input {
  border: none;
  border-radius: 5px;
  padding: 0px 10px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  height: 5vh;
  width: 25vw;
}
.input:focus {
  outline: none;
}
.Register {
  padding-top: 2%;
  color: white;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}
.btn {
  display: block;
  margin: 0 auto;
  padding: 5px 50px;
  margin-bottom: 6%;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  border: none;
  border-radius: 10px;
}
.btn:hover {
  cursor: pointer;
  background-color: #653ab9;
}
.btn:focus {
  outline: none;
}

@keyframes moveDown {
  from {
    transform: translateX(10rem);
  }
  to {
    transform: translateX(0rem);
  }
}
