/** @format */

.container {
  display: flex;

  width: 19%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  flex-direction: row;
  cursor: pointer;
  overflow: hidden;
  margin: 0.5%;
  margin-top: 2%;
  border-radius: 0.5rem;
  flex-direction: column;
}
.image {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2% 0;
}
.name {
  font-size: 1.5rem;
  text-align: start;
}
.bio {
  font-size: 1.2rem;
  text-align: start;
  color: gray;
}
