/** @format */

.Container {
  background: #f2f2f2;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nested {
  margin-left: 6%;
  margin-bottom: 2%;
}

.flex {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
}
.name {
  margin-left: 10px;
  font-size: 1.3rem;
}

.img img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: contain;
}
.topContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.options {
  display: flex;
}
.margin {
  font-size: 14px;
  margin-right: 20%;
}

.comment {
  margin-top: 1%;
  line-height: 150%;
  margin-right: 1%;
}
